
body 
{
    background-color:black;
    font-family: monospace;
}

h1
{
    font-family: monospace;
    font-size: 60px;
    color:#35b729;
    text-align:center;
    margin:0px 0px;
}

img {
  display: block;
}

p
{
    font: monospace;
    font-size: 20px;
    color: white;
}

.button {
    display: block;
    padding: 15px 25px;
    font-size: 24px;
    font-family: monospace;
    
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #35b729;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    height: 100%;
}

.button:hover, .button:active, .button:focus {
    background-color: #35b729;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

h2
{
    font-family: 'Michroma', sans-serif;

    font-size: 70px;
    color:#35b729;
    margin:0px 0px;
    margin-top:30px;
    text-align:center;
}

.logo {
  text-align: center;
  width: 5%;
}

.main
{
    width: 60%;
    margin-left: auto;
    margin-right:auto;
    font-size: 18px;
    color: white;
}

/* Nav menu */
.navigation_menu
{
    font-family: monospace;
    font-size: 22px;
    margin-left: 1%;
    margin-top: 4%;
}

.navigation_menu li {
  position: relative;
  display: block;
  padding: 2px;
  padding-left:20px
}

.navigation_menu li:after {
    content: "+";
    color: #35b729;
    position:absolute;
    top:0;
    left:0;
}

.navigation_menu a:hover, .navigation_menu a:active, .navigation_menu a:focus{
    width: 100%;
    padding: 2px;
    background-color: #35b729;
    color: black;
    font-weight: bold;
    text-decoration: none; 
}


.block
{
     margin-bottom: 8%;
}

.center
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer
{
    font-family: monospace;
    font-size: 12px;
    color:#35b729;
    text-align: center;
    margin-bottom: 40px;
}

a {
    color: #49f70a;
}



