
body {background-color:black;}

h1
{
    color:#35b729;
    text-align:center;
    margin:0px 0px;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    font-family: monospace;
    
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #35b729;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    height: 100%;
}

.button:hover {background-color: #35b729}

              .button:active {
              background-color: #35b729;
              box-shadow: 0 5px #666;
              transform: translateY(4px);
              }
              .button:focus {
              background-color: #35b729;
              box-shadow: 0 5px #666;
              transform: translateY(4px);
              }
h2
{
  font-family: 'Michroma', sans-serif;

    font-size: 70px;
    color:#35b729;
    margin:0px 0px;
    margin-top:30px;
    text-align:center;
}

.logo {
  text-align: center;
  width: 5%;
}

.ascii_table
{
    font-family: monospace;
    font-size: 18px;
    white-space: pre;
    color:#35b729;

}

.footer
{
    font-family: monospace;
    font-size: 12px;
    color:#35b729;
}
